@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Noto Sans', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Reset */ 

/*====================================================
                    LAYOUT
=====================================================*/
/* Main */
header{
    width: 100%;
    height: 15vh;
}

header ul > li{
    display: inline-block;
    margin: 1%;
    padding-bottom: 1em;
    clear: both;
}

.links{
    display: inline;
    width: 30%;
    margin-left: 5%;
    padding: 0.5em;
}

.main-container{
    background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ), url('./images/gymbg.jpg');
    background-repeat: no-repeat;
    height: 100vh;
}

.logo{
    display: inline-block;
    height: 70%;
    width: 15%;
    position: relative;
    top: 20%;
    right: -31.5%
}


.donate{
    margin-right: 5%;
    position: relative;
    top: 31%;
    display: inline-block;
    float: right;
}

main{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    height: 69vh;
}

main > h1{
    margin: 0.5em;
}

main > p{
    line-height: 2;
    margin-left: 20%;
    margin-right: 20%;
}

main > a{
    text-decoration: none;
    display: inline;
    position: relative;
    right: 1%;
    color: white;
    font-weight: bold;
}

main a > img{
    display: inline-block;
    position: relative;
    top: 3%;
    margin-top: 5em;
    margin-right: 1em;
}

/* WHY */

.why{
    text-align: center;
    height: 60vh;
    line-height: 2em;
    margin-left: 25%;
    margin-right: 25%;
}

/* visit */
.visit{
    background-color: lightgray;
    height: 100vh;
}

.visit-you, .visit-gym{
    display: inline-block;
    text-align: center;
    width: 45%;
    height: 85%;
    float: right;
    margin: 1em;
    position: relative;
    top: 10%;
    right: 2%;
}

.visit-text{
    margin-left:25%;
    margin-right:25%;
    line-height: 1.5em;
}
.visit-heading{
    margin-top: 1.5em;
}

.class-hire{
    margin:2.5em;
}

/*Footer*/
footer{
    height:45vh;
    background-color: #161f2a;
    color: white;
}

.left > span {
    margin-left: 7%;
    line-height: 2em;
    color: #617285;
}

.left > a{
    margin-left: 7%;
    line-height: 2em;
    color: white;

}

.left{
    width: 50%;
    height: 70%;
    display: inline-block;
}

.icons{
    margin-left: 5%;
    margin-top: 5%;

}

.fb, .twitter,.email{
    padding: 1em;
}

.right{
    display: inline-block;
    float: right;
    width: 50%;
    height: 70%;
}

.right > span{
    display: inline-block;
    position:relative;
    left: 65%;
    top: 35%;
} 

.margin{
    margin-bottom: 1em;
}

.bottom{
    margin-left: 3.5%;
    margin-right: 3.5%;
    height: 10vh;
    border-top: solid white 2px;
}

.bottom > p{
    position: relative;
    top: 50%;
}

.lg-foot{
    display: inline-block;
    float: right;
    margin-top: 1em;
}

/*===================================================
                    STYLES
====================================================*/

/* header styles */

header li > a{
    text-decoration: none;
    color: white;
}

.donate-style{
    width: 6em;
    height: 3em;
    padding: 5px;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    color: gray;
}

/*main styles */
main{
    color: white;
}

main > h1{
    font-size: 48px;
    font-weight: 700;
}

main > p{
    font-size: 18px;
    font-weight: 400;
}

/* why styles */

section > h1{
    font-size: 48px;
    font-weight: 700;
    margin-top: 2em;
    margin-bottom: 1em;
}

 section > p{
    font-size: 18px;
    line-height: 2em;
    font-weight: 400;
}

/* Visit Styles */

.class-hire{
    background-color: lightgray;
    width: 175px;
    height: 50px;
    border: 1px solid black;
    font-size: 18px;
    font-weight: 700;
}.visit-text{
    font-weight: 400;
}
.visit-heading{
    font-size: 24px;
    font-weight: 700;
}


/* Volunteer Styles */

.volunteer{
    text-align: center;
    margin: 2em;
    margin-left: 10%;
    margin-right: 10%;
}

.volunteer > h1{
    font-size: 36px;
    font-weight: 700;
}

.volunteer > p{
    margin-top: 2em;
    margin-left: 25%;
    margin-right: 25%;
}

.volunteer-button{
    background-color:white;
    width: 175px;
    height: 50px;
    border: 1px solid black;
    font-size: 18px;
    font-weight: 700;
    margin-top: 2em;
}

/* Footer Styles */

.left > a{
    text-decoration: none;
    font-weight: bold;
}

.ali{
    font-weight: 700;
    margin-top: 2em;
}

.bottom > p{
    font-weight: 700;
}

.style{
    font-weight: 700;
}